<br>
<h1 nz-typography style="text-align:center">Sporting Events</h1>
<br>
  <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th
          *ngFor="let column of listOfColumns; trackBy: trackByName"
          [(nzSortOrder)]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
        >
          {{ column.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sportingEvent of sportingEventService.sportingEvents">
        <td>{{ sportingEvent.event }}</td>
        <td>{{ sportingEvent.sport }}</td>
        <td>{{ sportingEvent.city }}</td>
      </tr>
    </tbody>
  </nz-table>